h1 {
  font-family:Arial;
  text-shadow:2px 3px green, 3px 4px blue;
}

input[type=number] {
  background-color:yellow !important;
}

button {
   cursor:pointer !important;
   background-color:darkblue;
}

img.small {
   display:block !important;
   width:var(--image-width)
   height:var(--image-height)
}

:root {
  --image-width:102px;
  --image-height:102px;
}
